<html>
  <style>
    body{ 
      font-size: 18pt;
      font-family: arial;
      line-height: 40px;
    }
  </style>


<body>
  <h1>Welcome,</h1>
  <span><br /></span>
  <!-- <p>NAME: <input type="text" name="name" placeholder="Enter name..." /> </p>
  <p>SSN: <input type="text" name="name" placeholder="Enter SSN...">/ </p> -->

  <!-- <form method="POST" action="/depositUser">
  <p>Deposit Amount to Bank: <input type="number" name="name"> <input type="submit" value="Add"></p>
  </form> -->

  <h2><u>Personal Wallet:</u></h2>
    <div> &emsp; Balance:</div>
    <div> &emsp; Deposit to Bank: </div>
    <div> &emsp; Withdraw from Bank: </div>
    <span><br /><br /></span>

  <h2><u>Bank:</u></h2>
    <div> &emsp; Balance:</div>
    <div> &emsp; Deposit to Cryptoexchange:</div>
    <div> &emsp; Withdraw from Cryptoexchange:</div>

  <h2><br /><u>Cryptocurrency Exchange:</u></h2>
    <div>&emsp; USD Balance: &emsp; &emsp; &emsp; &emsp; &emsp;
          ETH Balance: &emsp; &emsp; &emsp; &emsp; &emsp;
          BTC Balance:</div>
    <span><br /></span>

    <div> &emsp; Deposit to Cryptocurrency Wallet: </div>
    <div> &emsp; Withdraw from Cryptocurrency Wallet: </div>
    <span><br /></span>

    <span> &emsp; <b>Exchange:</b> <br /> </span>
    <div> &emsp; &emsp; Ethereum Price: &emsp; <br />
          &emsp; &emsp; Bitcoin Price:  &emsp; <br />
    </div>
    <span><br /></span>
    <div> &emsp; &emsp; USD to BTC:</div>
    <div> &emsp; &emsp; USD to ETH:</div>
    <div> &emsp; &emsp; ETH to USD:</div>
    <div> &emsp; &emsp; ETH to BTC:</div>
    <div> &emsp; &emsp; BTC to USD:</div>
    <div> &emsp; &emsp; BTC to ETH:</div>
  
    <h2><br /><u>Digital Wallet:</u></h2>
      <span> &emsp; Wallet Address: <br /> </span>
      <span style="font-size: 12pt;"> &emsp; &emsp; <em>Remember to never give anyone your seed phrase!</em>  <br /> <br /> </span>
      <span> &emsp; <b>Cryptocurrencies:</b> <br /> </span>
      <div>&emsp;&emsp; ETH Balance:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp; &emsp; BTC Balance:</div>
      <span><br /></span>
      <span> &emsp; <b>Non-Fungible Tokens:</b> <br /> </span>
      <div>&emsp; &emsp; Bored Ape YC Balance: &emsp; &emsp; &emsp; &emsp; &emsp;
        CryptoPunk Balance: &emsp; &emsp; &emsp; &emsp; &emsp;
        Autoglyphs Balance:</div>
      <span><br /></span>
      <span> &emsp; <em><b>Sending Assets:</b></em> <br /> </span>
      <div>&emsp; &emsp; From: <br />
        &emsp; &emsp; &emsp; To: </div>
        <span><br /><br /><br /><br /></span>
      
</body>


</html>
